html, body{
    overflow-x: hidden;
}

a{
    color: #5065DC !important;
}

a:hover{
    text-decoration: underline !important;
}

.badge-danger{
    color: white !important;
}

nav,
.btn-primary{
    background-color: #5065DC !important;
}
