<html>
    <head>
        <title>Gamercise | leaderboard</title>

        {% include "main/includes/head.html" %}
    </head>
    <body>
        {% include "main/includes/navbar.html" %}
        <div class="container">
            {% if users %}
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h4>Leaderboard</h4>
                    <p>Compete against your friends!</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-6">User</th>
                                <th class="col-3 text-center">Points</th>
                                <th class="col-3 text-center">Level</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for u in users %}
                            {% ifequal u.username user.username %}
                            <tr class="table-primary">
                            {% else %}
                            <tr>
                            {% endifequal %}
                                <td><a href="{% url 'social:detail' u.username %}">{{ u.first_name }} {{ u.last_name }} ({{ u.username }})</a></td>
                                <td class="text-center">{{ u.points }}</td>
                                <td class="text-center"> {{ u.level }}</td>
                                </fieldset>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</html>
